body {
    background-color: #E8E4D6;
    margin: 0; 
}

:where(header, footer) {
    background-color: #A3B18A;
    height: 100px;
    text-align: center;
}

.parentDiv {
    text-align: center;
    margin: 0%;
    color:rgb(2, 12, 5)
}

.subheading{
        font-size: 1.2em; /* Adjust the font size of the subheading */
        color: rgb(0, 0, 0); 
        margin-top: 5px; /* Add space between title and subheading */
        margin-bottom: 10px;
        text-align: center; 
    }   


:where(h2, h3) {
    padding-left: 5%;
}




    .contact_Button { 
    margin-left: 5%;
    padding: 5px;
    background-color: #ae8ab1;
    border-radius: 5%;
    font-size: 20px  ;
    border-style: solid;
    cursor: pointer;
    }

    .contact_Button:hover { 
        margin-left: 5%;
        padding: 5px;
        background-color: #d277db;
        border-radius: 5%;
        font-size: 20px  ;
        font-weight: bold;
        border-style: solid;
        cursor: pointer;
    }

    .about{
        margin-left: 7%;
        margin-right: 50%;
    }


img {
    max-width: 100%;
    height: auto;
}



a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}



    .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
    margin-top: auto;
}
  .photo-item {
    text-align: center
  }

    img{
    width:fit-content;
    height: auto;
    max-height: 400px;  
    cursor: pointer;
   }




   .footer {
    text-align: left;
   }